@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
	padding: 0;
  color: #fff;
}

body {
  background-color: #001523;
}

.bio-picture{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: 85%;
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 20px;
}

.bio-picture img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.bio-info{
  margin: 0 auto;
  grid-column: 1/4;
  grid-row: 2/4;
  text-align: center;
  padding-top: 10px ;
  font-family: "Open Sans", Raleway;
}

.bio-info h2{
  font-weight: bold;
}
.bio-info h4{
  padding-top: 10px;
  color:#75E6DA; 
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
    grid-template-rows: 1fr 100px ; /* Two rows with specific heights */
}

main {
  display: grid;
}


.links{
  margin: 0 auto;
}

ul{
  list-style: none;
  font-family: "Open Sans", Raleway;
  text-align: center;
  margin-top: 0;
}

li{
  padding: 20px;
  background-color: #75E6DA;
  border-radius: 15px;
  text-decoration: none;
  margin: 30px; 
}

a {
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.icons a{
  font-size: 40px;
  color: #75E6DA;
}